extends layout

block content
    .panel.panel-primary
        .panel-heading
            h2 #{title} - #{user.name}
        .panel-body
            form(method='get', action='chat')
                label Canal:
                input(type='text', name='newChannel')
                if channels.length > 0
                    select(name='channel')
                        each chn in channels
                            option #{chn.name}
                br
                input(type='submit')
