extends layout

block content
    .panel.panel-primary
        .panel-heading
            h2 #{title}
        .panel-body
            form(method='get', action='chat')
                label Canal:
                input(type='text', name='channel')
                if channels.length > 0
                    select
                        each chn in channels
                            option(name='channel') #{chn.name}
                br
                input(type='submit')
