extends layoutScript

block content
    .panel.panel-primary
        .panel-heading
            h3(id="channel")= 'Canal: ' + channel.name
        .panel-body
            .label.label-info Missatges de la sala:
            ul(id='messages')
        .panel-footer
            .row
                label(id='data') Usuari #{user.name} al canal #{channel.name}
            .row
                label Missatge:
                input(type='text', id='newMessage')
                input(type='submit', onclick="ajaxSendMessage();", value='enviar')
