extends layout

block content
    .panel.panel-primary
        .panel-heading
            h3= reqdChannel.name
        .panel-body
            ul
                each mes in messages
                    li #{mes}

            input(type='text' name='newMessage')
