extends layout

block content
      div(class='panel panel-info')
        div(class='panel-heading')
            h2 #{title}
        div(class='panel-body')
          form(method='post')
              label Usuari:
              input(type='text', name='name')
              input(type='submit')
